<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milansamardzic.ohmymeal" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="orientation">

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.default_searchable" android:value=".SearchResultsActivity" />
        </activity>


        <activity
            android:name=".SearchResultsActivity"
            android:label="Search Activity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>


        <activity
            android:name=".DetailAct"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" >
            </activity>

        <activity
            android:name=".Webview"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name" >
        </activity>

        <meta-data android:name="android.app.default_searchable" android:value=".SearchResultsActivity" />

    </application>

</manifest>
